/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and general page setup */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .site-header {
    background-color: #003b49;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  header .header-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .language-toggle button {
    background-color: #f0f0f0;
    color: #003b49;
    border: 1px solid #003b49;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Navbar Button Styling */
  .navbar {
    background-color: #004d62;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .navbar button {
    background-color: #006f85;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  .navbar button:hover {
    background-color: #005563;
  }
  
  .main-content {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #003b49;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  